section {
    height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

section .left {
    padding-left: 50px;
    background-color: #7d7165;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);

    z-index: 100;
}

section .left h1 {
    font-size: 5rem;
}

section .left h2 {
    font-size: 2rem;
}

section .right {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.britannica.com%2Fbiography%2FAnne-Frank&psig=AOvVaw216RCzMtVjJX-ZiQBg12MB&ust=1726537135614000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLjC7JaqxogDFQAAAAAdAAAAABAE");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 25%;
}
